@inherits LayoutComponentBase

<link href="_content/Radzen.Blazor/css/default-base.css" rel="stylesheet" />
<script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
<script src="js/site.js"></script>

<div class="page">
    <main>
        @Body
    </main>
</div>